html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
}
body img {
  max-width: 100%;
}
body h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4vh;
  color: white;
}
body h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
}
body h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  line-height: 2;
  font-size: 3vh;
  color: white;
}
body h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625rem;
}
body p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}
body a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}
body ul {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.grilleGRID {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, min-content);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.grilleGRID .blocMenu {
  grid-area: 1/2/2/11;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: dashed 15px #fed730;
}
.grilleGRID .barreNavigationFondJaune {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 6vh;
  margin-top: 10vh;
  margin-bottom: 6vh;
  background-color: #fed730;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
}
.grilleGRID .logoMenu {
  width: 12%;
  height: auto;
  padding-bottom: 3vh;
}
.grilleGRID .couleurBouton {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 0.7rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 800;
}
.grilleGRID .couleurBouton :hover {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: rgb(219, 33, 33);
  text-decoration: none;
  font-weight: 800;
}

.ordinateurPresentation {
  grid-area: 2/3/3/11;
  border-right: dashed 15px #FED730;
  border-bottom: dashed 15px #FED730;
  border-bottom-right-radius: 100px;
}
.ordinateurPresentation .ordinateur {
  margin: 2vh;
  padding: 2vh;
}

.photoPresentation {
  grid-area: 3/2/4/4;
  margin-top: -6vh;
  z-index: 4;
}

.presentationFrancoisRIVIERE {
  grid-area: 3/3/5/11;
  background-image: url("/assets/images/masqueArrierePlanPresentation.png");
  background-repeat: no-repeat;
}
.presentationFrancoisRIVIERE .titreDescription {
  width: 50%;
  text-align: center;
  margin-left: 12vw;
}
.presentationFrancoisRIVIERE .texteDescription {
  width: 50%;
  text-align: center;
  margin-left: 12vw;
  margin-bottom: 15vh;
}

.dashFondPresentation {
  grid-area: 3/3/5/7;
  border-bottom: dashed 15px #FED730;
  border-left: dashed 15px #FED730;
  border-bottom-left-radius: 100px;
}

.iconeTransitionDevWeb {
  grid-area: 5/6/6/8;
  margin-top: -14vh;
}

.divTransitionDevWebBordures {
  grid-area: 5/6/6/7;
  border-right: dashed 15px #FED730;
}

.devWeb {
  grid-area: 6/5/7/11;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: dashed 15px #FED730;
  border-left: dashed 15px #FED730;
  border-top: dashed 15px #FED730;
  border-bottom: dashed 15px #FED730;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.devWeb .titreDevWeb {
  width: 50%;
  text-align: center;
}
.devWeb .texteDevWeb {
  width: 80%;
  text-align: center;
}
.devWeb .logoLogiciel {
  width: 70%;
}

.dashCV {
  grid-area: 3/10/5/11;
  border-left: dashed 15px #FED730;
  border-bottom: dashed 15px #FED730;
  border-bottom-left-radius: 100px;
}

.logoCV {
  grid-area: 4/10/5/11;
  display: flex;
  align-items: flex-end;
  margin-bottom: -7vh;
}

.dashTransitionDevIconeGraphisme {
  grid-area: 7/7/8/8;
  border-right: dashed 15px #FED730;
  border-top-left-radius: 100px;
  min-height: 20vh;
}

.dashTransitionGraphisme {
  grid-area: 8/7/9/8;
  border-right: dashed 15px #FED730;
  border-top-left-radius: 100px;
  min-height: 20vh;
}

.iconeGraphisme {
  grid-area: 7/7/9/9;
  margin-top: 7vh;
  z-index: 5;
}
.iconeGraphisme .iconeGraphisme {
  width: 100%;
  height: auto;
}

.graphisme {
  grid-area: 9/4/10/10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: dashed 15px #FED730;
  border-left: dashed 15px #FED730;
  border-top: dashed 15px #FED730;
  border-bottom: dashed 15px #FED730;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.graphisme .titreGraphisme {
  width: 50%;
  text-align: center;
}
.graphisme .texteGraphisme {
  width: 80%;
  text-align: center;
}
.graphisme .logoLogicielGraphisme {
  width: 65%;
}

.barreTransitionCarte {
  grid-area: 10/3/11/5;
  border-right: dashed 15px #fed730;
}

.logoPlanFormulaire {
  grid-area: 10/4/11/6;
}

.planIframe {
  grid-area: 11/3/12/11;
  position: relative;
  border-right: dashed 15px #fed730;
  border-left: dashed 15px #fed730;
  border-top: dashed 15px #fed730;
  border-bottom: dashed 15px #fed730;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  min-height: 60vh;
}

.map-responsive {
  overflow: hidden;
}

.map-responsive iframe {
  height: 150%;
  width: 150%;
}

.formulaire {
  grid-area: 12/5/13/9;
  border-right: dashed 15px #fed730;
  border-left: dashed 15px #fed730;
  border-bottom: dashed 15px #fed730;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}
.formulaire .titreFormulaire {
  width: 70%;
  text-align: center;
}
.formulaire .alignement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulaire .boutonFormulaire {
  width: 10vw;
  height: 10vh;
  background-color: #424242;
  border-radius: 5px;
  border: dashed 2px #fed730;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4vh;
  color: white;
}
.formulaire input {
  width: 20vw;
  height: 2vh;
  margin: 1em;
  border-radius: 10px;
}
.formulaire textarea {
  width: 20vw;
  height: 20vh;
  margin: 1em;
  border-radius: 10px;
}
.formulaire label {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2vh;
  color: white;
}

#haut {
  position: relative;
}

.retourVersLeHaut {
  position: absolute;
  position: fixed;
  width: 5%;
  bottom: 0;
  left: 500;
  right: 0;
  margin: 5vh;
}

/*# sourceMappingURL=style.css.map */
